.jumbotron
{
	margin-bottom:0px;
	padding-top:150px;
	padding-bottom: 150px;
}
.new_page
{
  color:#333;
  font-size: 5em;


}
@media(max-width: 768px)
{
  .new_page
  {
    font-size: 2.5em;
    color:#333;
  }
  .jumbotron
  {
  		padding-top:150px;
	padding-bottom: 100px;
  }
}
    